body {
  margin: 0;
  padding: 0;
}

.left {
  background-color: white;
  width: 50%;
  height: 100vh;
  float: left;
}

.right {
  background-color: rgba(236, 109, 49, 1);
  width: 50%;
  height: 100vh;
  float: right;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bemVindoLogin {
  background-color: white;
  border-radius: 1rem;
  width: 60%;
  height: 60%;
  float: right;
}

.titlePrincipal {
  text-align: center;
}